header{
    background-color:#A61351;
    

}
.cabecalhoImagem{
    width: 30%;

}

body{
    background-color: rgb(185, 110, 120);
}
li{
   color:rgb(231, 221, 221); 
}
*{
    margin: 0 16px;
}   padding:0; 24px;

.cabecalhoListaItem{
    display: inline-block;
}