*{
    margin:0;
    padding:0;
}

.cabecalho{
    background-color:rgb(243, 184, 184);
    color:rgb(56, 3, 61); 
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
    font-size: 16x;
}

.cabecalhoImagem{
    width: 30%;

}

body{
    background-color: rgb(240, 180, 178);
}


.cabecalhoListaItem{
    display:inline-block;
    margin: 24 16px;
    padding: 24 0px;
}
.sobreImagem{
    width: 24%
}
.sobre{
    background-image: linear-gradient(#e99cc0, #f08bb5); 
    color:#300538;
     display:flex;
     justify-content:center;
     align-items:center;
     padding: 24px 0; 
}

.sobreConteudo{
    width: 35%;
}
.membroImagem{
    width: 120px;
}

.imagemQuadrada{
    height: 214px;
}

.membroDiv{
    align-items: center;
    text-align:center;
    padding: 50px 0;
}   
 .membrosTodos{   
    display:grid;
    grid-template-columns: 10% 20% 20% 20% 20%;
}

.membroIcone{
    width:40px
}
footer{
   background-color: black;
   padding: 15x 0;
   text-align:center;
}