header{
    background-color:#afacac;
    

}
.cabecalhoImagem{
    width: 30%;

}

body{
    background-color: rgb(68, 66, 66);
}
li{
   color:rgb(235, 227, 228); 
}
*{
    margin: 0 16px;
}   padding:0; 24px;

.cabecalhoListaItem{
    display: inline-block;
}